.mansory {
  column-count: 5;
  column-gap: 10px;
}

img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.mansory_item {
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
